<div >
  <app-navbar></app-navbar>
</div>
<router-outlet></router-outlet>


<div class="row pt-5">
<form class="form" #userForm="ngForm" (ngSubmit)="faireEnvoi(userForm)"  style="margin: 0 auto" >  

<div class="row">
  <!-- <div class="col-md-6 form-group">
    <input  placeholder="CodeEnvoi" class="form-control"  name="CodeEnvoi" [(ngModel)]="postEnvoi.CodeEnvoi"> 
  </div> -->
  <div class="col-md-6 form-group">
    <input  placeholder="Destinataire" class="form-control" [(ngModel)]="postEnvoi.Destinataire" name="Destinataire">
  </div>

  <div class="col-md-6 form-group">
      <input  placeholder="Envoyeur" class="form-control" name="Envoyeur" [(ngModel)]="postEnvoi.Envoyeur" >
  </div>
</div>

<!-- <div class="row">

</div> -->

<div class="row">
    
    <div class="col-md-12  form-group">
      <input placeholder="Montant" class="form-control" [(ngModel)]="postEnvoi.Montant" name="Montant">
    </div>
    <!-- <div class="col-md-6 form-group">
        <input  placeholder="compte" class="form-control" [(ngModel)]="postEnvoi.compte" name="compte">
    </div> -->
  </div>

  <div class="row">
      <div class="col-md-12 form-group">
        <input placeholder="cniEnvoyeur" class="form-control" [(ngModel)]="postEnvoi.cniEnvoyeur" name="cniEnvoyeur">
      </div>
  </div>

  <div class="row">
      <div class="col-md-6 form-group">
        <input  placeholder="telEnvoyeur" class="form-control" [(ngModel)]="postEnvoi.telEnvoyeur" name="telEnvoyeur">
      </div>
    
      <div class="col-md-6 form-group">
          <input  placeholder="telRecepteur" class="form-control" [(ngModel)]="postEnvoi.telRecepteur" name="telRecepteur">
      </div>
  </div>

    <div class="row">
      <div class="col-md-8">
      <button class="btn btn-success btn-block btn-lg" ><i class="fas fa-save"></i>
        Envoyer
      </button>
    </div>

    <div class="col-md-4">
        <button class="btn btn-danger btn-block btn-lg" (click)="resetUserForm(userForm)" *ngIf="!afficherRecu"><i class="fas fa-retweet"></i>
          Reset
        </button>
      </div>
    </div>
</form>    

</div>
<div class="row">
<form action="">
<div class="form-group">

  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}
    
  </div>
</div>
</form>
</div>

<!-- <fieldset *ngIf="afficherRecu">
  <legend>WAriApp</legend>
  <h3 class="text-center titre">Reçu d'envoi</h3>
  <div class="row">
      <p class="col-sm-3"><strong>Entreprise :</strong> {{postEnvoi.RaisonSociale}}</p>
      <p class="col-sm-3"><strong>Date :</strong> {{postEnvoi.DateEnvoi}}</p>
  </div>
  <fieldset>
      <legend>Bénéficiaire</legend>
      <p>Nom : {{postEnvoi.Destinataire}}</p>
      <p>Téléphone : {{postEnvoi.telRecepteur}}</p>
  </fieldset>
  <fieldset>
      <legend>Envoyeur</legend>
      <p>Nom : {{postEnvoi.Envoyeur}}</p>
      <p>NCI : {{postEnvoi.cniEnvoyeur}}</p>
      <p>Téléphone : {{postEnvoi.telEnvoyeur}}</p>
  </fieldset>
  <fieldset>
      <legend>Transaction</legend>
      <p>Code : {{postEnvoi.CodeEnvoi}}</p>
      <p>Commissions TTC : {{postEnvoi.commission}} </p>
      <p>Montant Envoyé : {{postEnvoi.Montant}}</p>

  </fieldset>
</fieldset> -->