<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort> -->

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> idCompte </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container> -->


    <!-- Name Column -->
    <!-- <ng-container matColumnDef="ninea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ninea </th>
      <td mat-cell *matCellDef="let row "> {{row.partenaire.ninea}} </td>
    </ng-container> -->


    <!-- Name Column -->
    <!-- <ng-container matColumnDef="raisonSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> raisonSociale </th>
      <td mat-cell *matCellDef="let row "> {{row.partenaire.raisonSociale}} </td>
    </ng-container> -->

    <!-- Color Column -->
    <!-- <ng-container matColumnDef="numCompte">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> numCompte </th>
      <td mat-cell *matCellDef="let row" > {{row.numCompte}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="solde">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Solde </th>
      <td mat-cell *matCellDef="let row"> {{row.solde}} CFA</td>
    </ng-container> -->

   


    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->

<div class="table table-hover">
  <tr *ngFor="let c of depotSolde" >
      <th>{{c.id}}</th>
      <th>{{c.umCompte}}</th>
      <th>{{c.solde}}</th>
      <th>{{c.ninea}}</th>
      <th>{{c.raisonSociale}}</th>
  </tr>
  <div class="form-group">

    <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}
      
    </div>
  </div>
</div>