<!-- <div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Ninea</th>
        <th>Raison Sociale</th>
        <th>Nom Complet</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Adresse</th>
        <th>Statut</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partenaire of partenaires">
        <td>{{partenaire.id}}</td>
        <td>{{partenaire.ninea}}</td>
        <td>{{partenaire.raisonSociale}}</td>
        <td>{{partenaire.nomComplet}}</td>
        <td>{{partenaire.telephone}}</td>
        <td>{{partenaire.email}}</td>
          <td>{{partenaire.adresse}}</td>
          <td>{{partenaire.statut}}</td>
      </tr>
    </tbody>
  </table>
</div> -->

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="ninea">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ninea </th>
      <td mat-cell *matCellDef="let row"> {{row.ninea}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="raisonSociale">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> raisonSociale </th>
      <td mat-cell *matCellDef="let row"> {{row.raisonSociale}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="nomComplet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> nomComplet </th>
      <td mat-cell *matCellDef="let row" > {{row.nomComplet}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> telephone </th>
      <td mat-cell *matCellDef="let row"> {{row.telephone}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="adresse">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> adresse </th>
      <td mat-cell *matCellDef="let row"> {{row.adresse}} </td>
    </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="statut">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> statut </th>
      <td mat-cell *matCellDef="let row"> {{row.statut}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="boutton">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Bloquer </th>
      <td mat-cell *matCellDef="let row"><a routerLink="#"><i class="fas fa-lock"(click)="updatePartenaire(row.id)"></i></a>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>