
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>idCompte</th>
         <th>Ninea Partenaire</th>
        <th>Raison Sociale</th>
        <th>numCompte</th>
        <th>Solde</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compte of comptes">
        <td>{{compte.id}}</td>
         <td>{{compte.partenaire}}</td>
        <td>{{compte.partenaire.raison_sociale}}</td>
        <td>{{compte.numCompte}}</td>
        <td>{{compte.solde}}</td>
      </tr>
    </tbody>
  </table>
</div>
