<div>
  <app-navbar></app-navbar>
</div>




<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>WariApp</h3>
            <p>receving your own money easy fast and sure !</p>
            <!-- <input type="submit" name="" value="Login"/><br/> -->
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">ADMIN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">USER</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Créer un administrateur</h3>
                    <div class="row register-form">
                        <div class="col-md-4 rouge">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" placeholder="Enter email"required>
                              </div>

                              <div class="form-group">
                                <label for="">Username</label>
                                <input [(ngModel)]="registerUserData.username" name="username" type="text" class="form-control rounded-0" placeholder="Enter username"required>
                              </div>

                            <div class="form-group">
                              <label for="">Password</label>
                              <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" placeholder="password"  required>
                            </div>
                            <div class="form-group">
                                <label for="">Password Confirmation</label>
                                <input [(ngModel)]="registerUserData.passwordConfirmation" name="passwordConfirmation" type="password" class="form-control rounded-0" placeholder="confirmer password" required>
                            </div>

                            <div class="form-group">
                              <label for="">nomComplet</label>
                              <input [(ngModel)]="registerUserData.name" name="name" type="text" class="form-control rounded-0" placeholder="nomComplet" required>
                            </div>

                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" [(ngModel)]="registerUserData.profil" name="profil"  value="1" checked="checked">
                                        <span> ADMIN </span> 
                                    </label>
                                </div>
                            </div>

      
                             

                              
                        </div>
                        <div class="col-md-4 noir">
                            <div class="form-group">
                                <label for="">adresse</label>
                                <input [(ngModel)]="registerUserData.adresse" name="adresse" type="text" class="form-control rounded-0" placeholder="adresse" required>
                            </div>
                            
                            <div class="form-group">
                              <label for="">telephone</label>
                              <input [(ngModel)]="registerUserData.telephone" name="telephone" type="text" class="form-control rounded-0" placeholder="telephone" required>
                            </div>
                     
<!-- 
                            <div class="form-group">
                                <label for="">partenaire</label>
                                <input [(ngModel)]="registerUserData.partenaire" name="partenaire" type="text" class="form-control rounded-0" placeholder="partenaire" required>
                              </div> -->

                              <!-- <div class="form-group">
                                  <label for="">compte</label>
                                  <input [(ngModel)]="registerUserData.compte" name="compte" type="text" class="form-control rounded-0" placeholder="compte" required>
                                </div> -->

                            </div>  
                            
                            <div class="col-md-4 rouge">

                                <!-- <div class="form-group">
                                    <label for="">propriete</label>
                                    <input [(ngModel)]="registerUserData.propriete" name="propriete" type="text" class="form-control rounded-0" placeholder="propriete" required>
                                  </div> -->
    
<!-- 
                            <div class="form-group">
                                <img [src]="imageUrl" class="image">
                                <input   (change)="handleFileInput($event.target.files)" #image accept="images/*" name="imageName" 
                                type="file" class="form-control rounded-0"  required>
                            </div> -->
                            <div class="form-group">
                              <label for="">photo</label>
                              <input [(ngModel)]="registerUserData.photo" name="photo" type="text" class="form-control rounded-0" placeholder="photo" required>
                            </div>

                            <button (click)="registerUser()" type="button" class="btn btn-success float-right">
                                Register
                              </button>
                        </div>
                    </div>
                </div>

                <!--  -->
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Créer un Utilisateur </h3>
                    <div class="row register-form">
                        <div class="col-md-4 rouge">
                            <div class="form-group">
                                <label for="">Email</label>
                                <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" placeholder="Enter email"required>
                              </div>
                              <div class="form-group">
                                <label for="">Username</label>
                                <input [(ngModel)]="registerUserData.username" name="username" type="text" class="form-control rounded-0" placeholder="Enter username"required>
                              </div>
                            <div class="form-group">
                              <label for="">Password</label>
                              <input [(ngModel)]="registerUserData.password" name="password" type="password" class="form-control rounded-0" placeholder="password"  required>
                            </div>
                            <div class="form-group">
                                <label for="">Password Confirmation</label>
                                <input [(ngModel)]="registerUserData.passwordConfirmation" name="passwordConfirmation" type="password" class="form-control rounded-0" placeholder="confirmer password" required>
                            </div>

                            <div class="form-group">
                              <label for="">nomComplet</label>
                              <input [(ngModel)]="registerUserData.name" name="name" type="text" class="form-control rounded-0" placeholder="nomComplet" required>
                            </div>

                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline"> 
                                        <input type="radio" [(ngModel)]="registerUserData.profil" name="profil"  value="2" checked>
                                        <span> Caisser </span> 
                                    </label>
                                </div>
                            </div>

      
                             

                              
                        </div>
                        <div class="col-md-4 noir">
                            <div class="form-group">
                                <label for="">adresse</label>
                                <input [(ngModel)]="registerUserData.adresse" name="adresse" type="text" class="form-control rounded-0" placeholder="adresse" required>
                            </div>
                            
                            <div class="form-group">
                              <label for="">telephone</label>
                              <input [(ngModel)]="registerUserData.telephone" name="telephone" type="text" class="form-control rounded-0" placeholder="telephone" required>
                            </div>
                     
<!-- 
                            <div class="form-group">
                                <label for="">partenaire</label>
                                <input [(ngModel)]="registerUserData.partenaire" name="partenaire" type="text" class="form-control rounded-0" placeholder="partenaire" required>
                              </div> -->
<!-- 
                              <div class="form-group">
                                  <label for="">compte</label>
                                  <input [(ngModel)]="registerUserData.compte" name="compte" type="text" class="form-control rounded-0" placeholder="compte" required>
                                </div> -->

                            </div>  
                            
                            <div class="col-md-4 rouge">

                                <!-- <div class="form-group">
                                    <label for="">propriete</label>
                                    <input [(ngModel)]="registerUserData.propriete" name="propriete" type="text" class="form-control rounded-0" placeholder="propriete" required>
                                  </div> -->
    

                            <!-- <div class="form-group">
                                <img [src]="imageUrl" class="image">
                                <input   (change)="handleFileInput($event.target.files)" #image accept="images/*" name="imageName" 
                                type="file" class="form-control rounded-0"  required>
                            </div> -->
                            <div class="form-group">
                              <label for="">photo</label>
                              <input [(ngModel)]="registerUserData.photo" name="photo" type="text" class="form-control rounded-0" placeholder="photo" required>
                            </div>

                            <button (click)="registerUser()" type="button" class="btn btn-success float-right">
                                Register
                              </button>
                        </div>
                    </div>
                  </div>
            <!-- ************ -->
        </div>
    </div>

</div>

